{% extends "student/base.html" %}

{% block content %}
    
    <br>

    <div class="col-md-6 offset-dm-3 mx-auto shadow-lg p-3 mb-5 bg-body rounded" style="width: 550;">

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div>
                <h1 class="text-center"><strong>Sign In</strong></h1>
            <div class="mb-3 mx-auto" style="width: 400px;">
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="mb-3 mx-auto" style="width: 400px;">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <br>
                <button type="submit" class="btn btn-success">Login</button>
            </div>        
        </form>
    </div>
{% endblock content %}

